---
import Layout from "../layouts/Layout.astro";
import logoUrl from "../assets/logo.svg";
---

<Layout title="Homepage">
  <main class="h-full flex items-center justify-center">
    <a href="https://github.com/PCJPL">
      <img
        src={logoUrl}
        alt="Pouch Cove Jet Propulsion Lab Logo"
        class="w-64"
      />
    </a>
  </main>
</Layout>
